.debug div, .debug ul, .debug td, .debug th, .debug textarea, .debug input, .debug tr {
	background-color: transparent!important;
}
.debug #container, .debug #apparatus {
	background: transparent url(/_assets/images/static/12_col_2.gif) -10px -4px!important;
}
.debug-info {
	background-color: red!important;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 2px;
	display: none;
	font-size: 11px;
	z-index: 9999;
	position: absolute;
}
.debug .debug-info {
	display: block;
}