* {
	outline: none;
}
html {
	height: 101%;
	overflow: auto;
}
body {
	padding: 5px 0 10px 30px;
	font-size: 62.5%;
	line-height: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #fff;
	color: #4545454;
}
#container {
	font-size: 11px;
}
/*h1, h2, h3, h4, h5 {
	font-weight: bold;
	letter-spacing: 1px;
}
*/
strong, .b {
	font-weight: bold;
}
.i {
	font-style: italic;
}
/*input {
	margin-top: 10px;
}
*/
input[type="text"], input[type="submit"] {
	margin: 10px 0;
}
input[type="submit"], input[type="reset"] {
	display: block;
	font-size: 12px;
	text-transform: lowercase;
	font-variant: small-caps;
	color: #333;
}
label {
	margin-top: 10px;
}
.error, .warning {
	color: #c00!important;
}
label span.warning {
	float: right;
	text-align: right;
	width: 50%;
}
ol, ul {
	list-style: none;
}
ol, ul, li {
	margin: 0;
}
/*.separator {
	border-bottom: 1px dashed #fff;
	padding-bottom: 9px;
}
*/
.hidden, .debug-info {
	display: none;
}
.a_arrows a {
	background-position: -450px 2px;
	padding-left: 15px;
	text-decoration: none;
}
.a_arrows a:hover {
	background-position: -450px -18px;
	text-decoration: none;
}
.padded .alpha {
	margin-left: 3px;
	margin-right: 7px;
}
.padded .omega {
	margin-left: 7px;
	margin-right: 3px;
}
.grid_12 {
	margin-left: 0;
	margin-right: 0;
}
abbr[title], dfn[title] {
	border-bottom: none;
	cursor: help;
}
/* content ********************************************************************/
#content {
	position: relative;
	margin-bottom: 20px;
}
.text p, .text li {
	font-size: 12px;
}
#content p, #content li {
	font-size: 13px;
}
#content .meta p {
	color: #666;
	font-size: 11px;
}
#content .text {
	font-size: 14px;
	font-family: Georgia, "Palatino Linotype", serif;
	color: #333333;
	text-align: justify;
	text-justify: newspaper;
	line-height: 20px;
}
#content .text p + p {
	text-indent: 20px;
}
#content .text ul {
	list-style-type: square;
	margin-left: 14px
}
#content .text ol {
	list-style-type: decimal;
	margin-left: 14px
}
#content .text li {
	padding-left: 6px;
}
section a[href^="http"] {
	padding-left: 15px;
	background-position: -504px -401px;
}
section a[href^="http"]:hover {
	background-position: -504px -423px;
}
section .notes-list a[href^="http"] {
	background-position: -504px -403px;
}
section .notes-list a[href^="http"]:hover {
	background-position: -504px -425px;
}
a[href*="joegatt.org"] {
	background-image: none!important;
	padding-left: 0!important;
}
/******************/
.al_right {
	text-align: right;
}
.al_center {
	text-align: center;
}
/* colourisation */
.text span {
	font-size: 1em;
	font-family: Georgia, "Palatino Linotype", serif;
}
span.neg {
	color: #D3120F;
}
span.pos {
	color: #00cc00;
}
.text p span.pos {
	color: #333;
}
/* container ******************************************************************/
#container {
	padding-top: 2.2em;
	position: relative;
}
/* header *********************************************************************/
#hd {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px dashed #999;
}
#title {
	height: 96px;
}
/* yield **********************************************************************/
#yield {
	position: relative;
	margin-top: 20px;
}
#yield.tool_help_on {
	margin-top: 210px;
}
/* scholia */
/* miscellaneous **************************************************************/
/*=> jg_post.animate.ajax_loading {
	background: url(/_assets/images/static/ajax_small.gif) top right no-repeat;
}
.ajax_done {
	background: url(/_assets/images/static/ajax_done_small.gif) top right no-repeat;
}
.ajax_error {
	background: url(/_assets/images/static/ajax_error_small.gif) top right no-repeat;
}
*/
.ajax_large {
	background: url(/_assets/images/static/ajax.gif) no-repeat scroll 475px 7px transparent;
}
.apparatus {
	/*  margin-top: 40px;
*/
}
/* overrides ******************************************************************/
#title, #hd, #epigraph, footer {
	margin-left: 0;
	margin-right: 0;
}
/* ends ***********************************************************************/
.ends_section, .ends_epigraph, .ends {
	margin-top: 40px;
}
.ends_section div {
	width: 140px;
	height: 24px;
	margin-bottom: 6px;
	background-position: -310px -229px;
}
.ends div {
	width: 140px;
	height: 57px;
	margin-bottom: 3px;
	background-position: -310px -256px;
}
/* ajax ***********************************************************************/
.ajax_loading {
	background: url(/_assets/images/static/ajax_small.gif) top right no-repeat;
}
.ajax_done {
	background: url(/_assets/images/static/ajax_done_small.gif) top right no-repeat;
}
.ajax_error {
	background: url(/_assets/images/static/ajax_error_small.gif) top right no-repeat;
}