@font-face {
	font-family: 'KleistFrakturRegular';
	src: url('/_assets/fonts/kleistfraktur/kleist-fraktur-webfont.eot');
	src: local('☺'), url('/_assets/fonts/kleistfraktur/kleist-fraktur-webfont.woff') format('woff'),   url('/_assets/fonts/kleistfraktur/kleist-fraktur-webfont.ttf') format('truetype'),   url('/_assets/fonts/kleistfraktur/kleist-fraktur-webfont.svg#webfontROn0JVd8') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DejaVuSansCondensed';
	src: url('/_assets/fonts/dejavu/DejaVuSans-webfont.eot');
	src: local('☺'), url('/_assets/fonts/dejavu/DejaVuSans-webfont.woff') format('woff'),   url('/_assets/fonts/dejavu/DejaVuSans-webfont.ttf') format('truetype'),   url('/_assets/fonts/dejavu/DejaVuSans-webfont.svg#webfontDSbtRiqx') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DejaVuSansCondensedBold';
	src: url('/_assets/fonts/dejavu/DejaVuSansCondensedBold-webfont.eot');
	src: local('☺'), url('/_assets/fonts/dejavu/DejaVuSansCondensedBold-webfont.woff') format('woff'),   url('/_assets/fonts/dejavu/DejaVuSansCondensedBold-webfont.ttf') format('truetype'),   url('/_assets/fonts/dejavu/DejaVuSansCondensedBold-webfont.svg#webfontvelIGLyw') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'DejaVuSansMono';
	src: url('/_assets/fonts/dejavu/DejaVuSansMono-webfont.eot');
	src: local('☺'), url('/_assets/fonts/dejavu/DejaVuSansMono-webfont.woff') format('woff'),   url('/_assets/fonts/dejavu/DejaVuSansMono-webfont.ttf') format('truetype'),   url('/_assets/fonts/dejavu/DejaVuSansMono-webfont.svg#webfontvelIGLyw') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DejaVuSansMonoBold';
	src: url('/_assets/fonts/dejavu/DejaVuSansMono-Bold-webfont.eot');
	src: local('☺'), url('/_assets/fonts/dejavu/DejaVuSansMono-Bold-webfont.woff') format('woff'),   url('/_assets/fonts/dejavu/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),   url('/_assets/fonts/dejavu/DejaVuSansMono-Bold-webfont.svg#webfontvelIGLyw') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* Blackletter */
.blackletter .source p, .KleistFrakturRegular {
	font-family: "KleistFrakturRegular", Georgia, serif!important;
	font-weight: normal;
	font-style: normal;
	font-size-adjust: 0.5;
}
.blackletter .source p {
	line-height: 20px;
	font-size: 16px!important;
}
/* Title */
h1, #title h3, .DejaVuSansCondensed {
	font-family: "DejaVuSansCondensed", Tahoma, Geneva, sans-serif!important;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
}
/* Note title */
h2, .DejaVuSansCondensedBold {
	font-family: 'DejaVuSansCondensedBold', Tahoma, Geneva, sans-serif!important;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
}
.DejaVuSansMono {
	font-family: 'DejaVuSansMono', Tahoma, Geneva, sans-serif!important;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
}
.section-colophon #content p.KleistFrakturRegular {
	font-size: 40px;
	line-height: 40px;
}
.section-colophon #content p.DejaVuSansCondensed, .section-colophon #content p.DejaVuSansCondensedBold, .section-colophon #content p.DejaVuSansMono {
	font-size: 24px;
	line-height: 40px;
}
a, li, p {
	line-height: 20px;
}