img[src*="16_9-wb-3-0"] {
	width: 220px;
	height: 120px;
}
img[src*="16_9-wb-3-1"] {
	width: 218px;
	height: 118px;
}
img[src*="16_9-wb-4-0"], .grid_5 .map, .grid_6 .map {
	width: 300px;
	height: 170px;
}
img[src*="16_9-wb-4-1"] {
	width: 298px;
	height: 168px;
}
img[src*="16_9-wb-6-0"] {
	width: 460px;
	height: 260px;
}
img[src*="16_9-wb-6-1"] {
	width: 458px;
	height: 258px;
}
img[src*="16_9-wb-7-0"] {
	width: 540px;
	height: 300px;
}
img[src*="16_9-wb-7-1"] {
	width: 538px;
	height: 298px;
}
img[src*="16_9-wb-12-0"] {
	width: 940px;
	height: 530px;
}
img[src*="16_9-wb-12-1"] {
	width: 938px;
	height: 528px;
}
img[src*="10_3-wb-12-0"] {
	width: 940px;
	height: 280px;
}
img[src*="10_3-wb-12-1"] {
	width: 940px;
	height: 278px;
}
img[src*="3_4-wb-2-0"] {
	width: 140px;
	height: 190px;
}
img[src*="4_3-wb-2-1"] {
	width: 138px;
	height: 184px;
}
.map {
	margin-bottom: 10px;
}
a[href*='resources/cut'] + p, a[href*='resources/cut'] + ul.meta {
	margin-top: 10px;
}
a[href*='resources/cut'] + figcaption {
	margin-top: 0;
}