.issues, .page-code-index div.text {
	margin-bottom: 20px;
}
#container {
	position: relative;
}
#code {
	filter: alpha(opacity=85);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	z-index: 100;
	position: absolute;
	top: 0;
	margin-top: 140px;
	background-color: #d5d5d5;
	width: 940px;
	height: auto;
	color: #333;
	line-height: 20px!important;
	border-bottom: 1px dashed #999;
}
#code .path {
	background-color: #ffffff;
}
#source {
	margin-top: -20px;
}
#explorer {
	margin-top: -20px;
}
#explorer .path {
	display: block;
	width: 380px;
}
#track {
	height: 500px;
	color: #333;
	overflow: hidden;
}
pre.syntax {
}
.github-link {
}
/* Overrides */
.syntax-container {
	padding: 0!important;
	margin-left: -50px!important;
}
.syntax-container .toolbar {
	display: none!important;
}
ol.syntax li div.source {
	border-left: 0!important;
}
ol.syntax {
	background-color: #ffffff!important;
	border: 0!important;
}
#code a[href^="http://github.com"] {
	background-position: -504px -445px;
	padding-left: 13px;
	margin-left: 20px;
	color: #666;
}
#code a[href^="http://github.com"]:hover {
	background-position: -504px -425px;
	color: #362fd4;
}
/************/
#tool_code {
	background: none;
	padding: 0;
	color: #d5d5d5;
	margin-left: 0;
}
#tool_code:before {
	padding-right: 2px;
	color: #d5d5d5;
content: " {
	";
}
#tool_code:after {
	padding-left: 2px;
	color: #d5d5d5;
	content: "
}
	";
}
#tool_code.on, #tool_code.on:before, #tool_code.on:after {
	color: #666;
}
a#tool_code:hover, a#tool_code.on:hover, a#tool_code:before:hover, a#tool_code:after:hover, a#tool_code.on:before:hover, a#tool_code.on:after:hover {
	color: #F74B23!important;
}
/*Syntax*/
.syntax {
	font-family: Menlo, Consolas, monospace;
	line-height: 20px;
}
.syntax .function {
	color: #362fd4!important;
}
.syntax .keyword {
	color: #f74b23!important;
}
.syntax .access {
	color: #75d42f!important;
	font-weight: bold;
}
.syntax .type {
	color: #86853a!important;
	font-weight: bold;
}
.syntax .comment {
	color: #999999!important;
	font-style: italic;
}
.syntax .string, .syntax .constant {
	color: #f74b23!important;
}
.syntax .string .escape {
	color: #362fd4!important;
}
.syntax .operator {
	color: #f74b23!important;
}
.syntax .href {
	color: inherit!important;
	border-bottom: 1px dotted #336699;
}
.syntax .variable {
	color: #336699!important;
}
.syntax pre {
	overflow: auto;
	font-family: inherit;
}