.rss {
	position: relative;
}
.rss li {
	margin-bottom: 10px;
}
.rss p {
	font-size: 12px;
}
.rss a {
	background: none!important;
	padding-left: 0!important;
}
.rss .details {
	font-size: 11px;
}
.rss h4 {
	padding-right: 15px;
	position: relative;
	display: inline-block
}
.rss a.feed {
	background-image: url("/_assets/images/static/sprite-v17.png") !important;
	background-position: -117px -363px !important;
	display: block;
	height: 9px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 6px;
	width: 9px;
}