@media print {
  *, h4 a {
  	color: #000!important;
  }
  body {
  	padding: 5px;
  }
  #container {
  	padding-top: 0;
  }
  #title {
  	height: 56px;
  }
  h1 {
  	top: 25px;
  }
  h2 {
  	top: 0;
  }
  h3 {
    top:71px;
  }
  #yield {
  	margin-top: 54px;
  }
  .apparatus {
    border-top:1px dashed  #999;
  }
  #comments_list li {
    padding:0;
  }
  #hd, #nav, #signupin_container, #help_main, #comments_form, #share, #code, #more {
  	display: none!important;
  }
  article, section, .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  	display: block;
  	clear: both;
  	width: 100%!important;
  	float: none;
  	margin-left: 0;
  	margin-right: 0;
  	padding-left: 0!important;
  	padding-right: 0;
  }
  blockquote {
  	border: none!important;
  	font-style: italic;
  	padding-left: 0;
  }
  #qr_code {
  	display: block!important;
  	clear: both;
  	float: none;
  }
}