#signupin {
position:absolute;
top:0;
right:20px;
width:140px;
z-index:101;
}

#signupin_header {
font-weight:bold;
text-align:right;
width:138px;
}

#signupin_header a {
text-transform:lowercase;
}

#signupin_panel {
    position:absolute;
    top:1.9em;
    border:1px dashed #ccc;
    border-top-width:0;
    overflow:hidden;
    width:138px;
    }

#signupin_panel div {
    margin:1px;
    padding:5px;
    }

#signupin_header {
    color:#653843;
    line-height:2;
    }

#signupin label {
text-transform:lowercase;
display:block;
color:#666;
width:124px;
}

#signupin input[type="text"], #signupin input[type="password"] {
		display:block;
		margin-top:3px;
		border:1px solid #ccc;
		padding:2px 1px;
		width:95%;
		font-size:1.1em;
		color:#000;
		}

#signupin input[type="checkbox"] {
		display:inline;
		margin:8px 7px 0 0;
		border:none;
		line-height:1em;
		}

label span.error {
    float:right;
    display:inline-block;
		}

/* alert */

#screen_cover {
position:fixed;
width:100%;
height:100%;
background-color:#333;
z-index:100;
top:0;
left:0;
}

#signupin.alert {
position:fixed;
z-index:101;
top:210px;
left:49%;
}
.short-screen #signupin.alert {
top:110px;
}

.alert div, .alert p, .alert a, .alert input, .alert label {
display:block;
}

.alert #signupin_header {
margin-left:-50%;
text-align:left;
font-size:2em;
color:#ff0;
width:136px;
}

.alert #signupin_header_a {
color:#ffff00;
font-family:'Segoe UI','Frutiger',Arial,sans-serif;
font-weight:normal;
letter-spacing:0.1em;
width:170px;
font-style:italic;
text-transform:none;
font-variant:small-caps;
}

#signupin.alert #signupin_panel {
border:5px solid #cccccc;
padding:10px;
width:136px;
top:35px;
margin-left:-50%;
}

.alert a {
display:inline;
}

#signupin .close {
display:none;
}
#signupin.alert .close {
top:41px;
display:block;
margin-right:38%;
position:absolute;
right:1px;
z-index:102;
}
#signupin_panel.closed {
display:none;
}
