AddDefaultCharset UTF-8

DirectorySlash Off

#ERRORS
#ErrorDocument 403 /error/403
#ErrorDocument 404 /error/404
#ErrorDocument 500 /error/500

Header unset ETag
FileETag None

SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|zip|pdf|woff)$ no-gzip dont-vary
#SetEnvIf Request_URI -f no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary

ExpiresActive On
ExpiresDefault "access plus 1 year"
ExpiresByType text/html "access plus 10 minutes"
ExpiresByType text/xml "access plus 10 minutes"

# ******************************************************************************

RewriteEngine On

#RewriteCond %{X-moz} ^prefetch
#RewriteRule ^.* - [F]

RewriteCond %{HTTP_HOST} ^www.joegatt.net$ [NC]
RewriteRule ^(.*)$ http://joegatt.net/$1 [R=301]

#Only prevent running scripts & sub-pages & hotlinking (?)
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} joegatt
#RewriteCond %{HTTP_HOST} joegatt [NC]
RewriteCond %{REQUEST_URI} !admin
RewriteCond %{REQUEST_URI} !concordance
RewriteCond %{REQUEST_URI} !(.*)/p/(.*)$
RewriteCond %{REQUEST_URI} !/c/
#RewriteCond %{THE_REQUEST} _
#RewriteRule ^.* - [F,NS,L]
#SHOULD THIS BE ON? DOES IT STOP REDIRECTS????????????

#CONFIRMATIONS
#RewriteRule ^(.*)/p/([0-9]+)/([0-9a-z]+)/?$ /_etc/special/signupin_redirect.shtml?sent_url=/$1&sent_user_id=$2&sent_password=$3&mode=signingin [L]
#RewriteRule ^(.*)/c/([0-9]+)/([0-9A-Z]+)/?$ /_etc/special/signupin_redirect.shtml?sent_url=/$1&sent_user_id=$2&sent_confirmation_code=$3&mode=confirming [L]
RewriteRule ^(.*)/p/([0-9]+)/([0-9a-z]+)/?$ /_etc/cgi/common/user_signupin_redirect_full.cgi?sent_url=$1&sent_user_id=$2&sent_password=$3&mode=signingin [L]
RewriteRule ^(.*)/c/([0-9]+)/([0-9A-Z]+)/?$ /_etc/cgi/common/user_signupin_redirect_full.cgi?sent_url=$1&sent_user_id=$2&sent_confirmation_code=$3&mode=confirming [L]

#JAVASCRIPT ERRORS
RewriteRule ^(.*)/NaN/?$ $1/1
RewriteRule ^(.*)/undefined/?$ $1/1

#MINIFY
RewriteRule ^/_etc/min/([a-z]=.*)  /_etc/min/index.php?$1  [L,NE]

#IMAGES
RewriteCond %{REQUEST_URI} ^.*/_etc/resources/.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^_etc/resources/cut/([^-]*)-([^-]*)-([^-]*)-([^-]*)-([^-]*)-([^-]*)-([^-]*)-([^-]*)\.([^-]*)$ /_etc/cgi\/images\/serve.php?imgfile=$1\.$9&rnd=$2&aspect=$3&platform=$4&columns=$5&border=$6&processing=$7&psettings=$8 [T=application/x-httpd-cgi,PT,L]

#RewriteRule ^/?code/issues/(.*)$ /code/mantis/page.shtml?$1 [T=text/html,L]

#CACHE
RewriteCond %{REQUEST_URI} ^.*_etc/cache/.*$
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.*)_etc/cache\/([_0-9a-z]+)\-\-([_0-9a-z]+?)\-(.*?)\.s?html$ $1_etc/cgi/$2/$3.cgi?$4 [T=application/x-httpd-cgi,L]

#PROMOS
RewriteRule ^/?(.*)/pr/(.*)$ /$1 [L,R,CO=promo:$2:%{HTTP_HOST}:60:/]

RewriteRule ^/?$  /home/ [L]
RewriteRule ^/?([a-z]+)/?$  $1/index.shtml [L]
#RewriteRule ^/?(.*)([0-9]+)/$  /$1$2

RewriteRule ^/?(.*)tags/?([_:a-zA-Z0-9]+)/?$ /$1/tags/page.shtml?p=$2 [L,QSA]

RewriteCond %{REQUEST_URI} !^.*/c/.*$
RewriteCond %{REQUEST_URI} !^.*/p/.*$
#RewriteRule ^/?(.*)/([a-z]*) /$1/$2.shtml

#RewriteRule ^/?(.*)/v([0-9]+)/?$ /$1?v=$2 [QSA]

#This should be handled somewhere else?
RewriteRule ^/?wutz/?$ /wutz/1

RewriteCond %{REQUEST_URI} !^.*/c/.*$
RewriteCond %{REQUEST_URI} !^.*/p/.*$
#RewriteCond %{REQUEST_URI} ^(.*)/([0-9]+)/?$
RewriteRule ^/?(.*)/([0-9]+)/?$ /$1/page.shtml?p=$2 [L,QSA]

#RewriteCond %{REQUEST_URI} !^.*_etc/c.*$
#RewriteCond %{REQUEST_URI} !^.*/c/.*$
#RewriteCond %{REQUEST_URI} !^.*/p/.*$
#RewriteCond %{REQUEST_URI} !^(.*)([^0-9]+)/?$
#RewriteCond %{HTTP_COOKIE} p=([0-9]+) [NC]
#RewriteRule ^(.*)$ $1?p=%1 [NS,L,QSA]

#SetEnv p 1
#SetEnvIfNoCase Request_URI ^(.*)([^0-9]+)/?$ p=$1
#PassEnv p

#RewriteCond %{REQUEST_URI} !-s
#RewriteRule ^(.*)/([a-z]*)/?$ ${featuresMap:$2|/error/404} 
