Hi [% show_name %]


Thank you for registering at [% url_server %].

To complete your registration please click on this link:

http://[% url_server %][% url %]/c/[% user_id %]/[% code %]

Or go to http://[% url_server %] and enter the code [% code %]


Thanks

[% url_server %]