Hi [% show_name %]


Your password has been reset to [% code %].

Please click on this link and change it to a more memorable one:

http://[% url_server %][% url %]/p/[% user_id %]/[% code %]


Thanks

[% url_server %]
