[% FOREACH resource IN resources %]
  <figure class="entry-content-asset">
  <a href="[% imageServer %]/_assets/images/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-12-0-0-0.[% resource.ext %]">
    <img src="[% imageServer %]/_assets/images/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-[% imageCols %]-0-0-0.[% resource.ext %]" alt="[% IF caption %][% caption %][% ELSIF title %][% title %][% ELSE %][% textBriefClean %][% END %]">
  </a>
  [% IF caption %]
    <figcaption>[% caption %]</figcaption>
  [% END %]
  </figure>
[% END %]
