<!--#set var="title" value="[% p %]" -->
<!--#set var="title.sub" value="[% title %]" -->
<!--#set var="title.window" value="Notes: [% p %][% IF title!='' %]: [% title %][% END %]" -->
[% PROCESS 'meta.tmpl' section='notes' %]
