<a href="/[% location %]/[% p %]" class="link">[% title %]</a>
<ul class="meta nav_h">   
  <li><a href="[% sourceUrl %]" title="[% sourceUrl %]">[% sourceUrlDomain %]</a></li>
  [% FOREACH tag IN tags %]
    <li>
      <a rel="tag" href="/tags/[% tag.link %]">[% tag.title %]</a>
    </li>
  [% END %]
</ul>