<!--#set var="title" value="[% authorSurname %]: [% title %]" -->
<!--#set var="title.window" value="Bibliography: [% authorSurname %]: [% bookTitle %]" -->
[% PROCESS 'meta.tmpl' section='bibliography' %]
