[% FOREACH resource IN resources %]
   [% PROCESS 'image.tmpl' imageCols = 4 %]
[% END %]
[% PROCESS 'video.tmpl' vimeoWidth = 300, vimeoHeight = 230, youtubeWidth = 300, youtubeHeight = 230, dailymotionWidth = 300, dailymotionHeight = 230 %]
[% IF quote %]
  <blockquote[% IF sourceUrl %] cite="http://[% sourceUrl %]"[% END %]>[% quote %]</blockquote>
[% END %]
[% IF attribution %]
  <p class="attribution">[% attribution %]</p>
[% END %]
[% IF title %]
  <h6><a href="/[% location %]/[% p %]">[% title %]</a></h6>
[% END %]
[% textBriefLinked %]
<ul class="meta nav_h">   
  <li><a href="/notes/[% p %]">#[% p %]</a></li>
  [% FOREACH tag IN tags %]
    [% tag.listItem %]
  [% END %]
</ul>
