@book{bachelard[% publishedDate %]poetic,
  title={[% bookTitle %]},
  author={[% authorFullName %]},
  isbn={[% isbn %]},
  lccn={87023314},
  url={http://joegatt.net/bibliography/[% noteRef %]},
  year={[% publishedDate %]},
  publisher={[% publisherName %]}
}
