<div class="grid_5 alpha">
  <div class="book">
    <p><strong>[% bookTitle %]</strong></p>
    <p>[% authorFullName %]</p>
    <p>[% publisherName %], [% publishedDate %]</p>
    <p>ISBN [% isbn %]</p>  
    [% IF translator %]
      <p>Translated by [% translatorFullName %]</p>
    [% END %]
    [% FOREACH resource IN resources %]
        <img src="/_etc/resources/cut/[% resource.title %]-[% resource.rnd %]-3_4-wb-2-0-0-0.[% resource.ext %]" alt="[% authorSurname %]: [% bookTitle %] - book cover">
    [% END %]
  </div>
  <p><a href="http://www.worldcat.org/isbn/[% isbn %]">WorldCat entry for this book</a></p>
  <div id="versions" class="meta">
    <p>Version <span class="version-source">[% version %]</span> (<abbr class="timeago" title="[% date_iso8601 %]">[% date_full %]</abbr>)</p>
  </div>
  <div class="apparatus">
    <!--#include virtual="../../_etc/layouts/apparatus_left.shtml" -->
  </div>
</div>
<div class="grid_5 prefix_1 suffix_1 omega">
  <div class="apparatus">
    <div id="tags">
      <!--#include virtual="../../_etc/cache/tags--tags-tags=[% tagsUrl %].html" -->
    </div>
    <div id="notes" class="grid_5 alpha omega">
      <!--#include virtual="../../_etc/cache/notes--list-tags=[% tagsUrl %]&exclude=[% p %].html" -->
    </div>
  </div>
</div>