[% FOREACH resource IN resources %]
   <a href="/_etc/resources/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-12-0-0-0.[% resource.ext %]">
    <img src="/_etc/resources/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-3-0-0-0.[% resource.ext %]" alt="[% IF caption %][% caption %][% ELSIF title %][% title %][% ELSE %][% textBriefClean %][% END %]" title="[% IF caption %][% caption %][% ELSIF title %][% title %][% ELSE %][% textBriefClean %][% END %]">
   </a>
[% END %]
[% PROCESS 'video.tmpl' vimeoWidth = 300, vimeoHeight= 225, youtubeWidth = 300, youtubeHeight = 225, dailymotionWidth = 300, dailymotionHeight = 225 %]
[% IF quote %]
  <blockquote[% IF sourceUrl %] cite="http://[% sourceUrl %]"[% END %]>[% quote %]</blockquote>
[% END %]
[% IF attribution %]
  <p class="attribution">[% attribution %]</p>
[% END %]
[% IF title %]
  <h6><a href="/[% location %]/[% p %]">[% title %]</a></h6>
[% END %]
[% textBriefLinked %]
<ul class="meta nav_h">   
  <li><a href="/notes/[% p %]">#[% p %]</a></li>
  [% FOREACH tag IN tags %]
    <li>
      <a rel="tag" href="/tags/[% tag.link %]">[% tag.title %]</a>
    </li>
  [% END %]
</ul>
