[% IF title != '' %]
  <h3 class="inserted">[% title %]</h3>
[% END %]
[% FOREACH resource IN resources %]
   <a href="/_etc/resources/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-12-0-0-0.[% resource.ext %]">
    <img src="/_etc/resources/cut/[% resource.title %]-[% resource.rnd %]-16_9-wb-6-0-0-0.[% resource.ext %]">
   </a>
[% END %]
[% IF caption %]
  <p class="caption">[% caption %]</p>
[% END %]
[% PROCESS 'video.tmpl' vimeoWidth = 460, vimeoHeight= 260, youtubeWidth = 460, youtubeHeight = 260, dailymotionWidth = 460, dailymotionHeight = 245 %]
[% PROCESS 'map.tmpl' %]
[% IF quote %]
  <blockquote>[% quote %]</blockquote>
[% END %]
[% IF attribution %]
  <p class="attribution">[% attribution %]</p>
[% END %]
<div class="text">
  [% text %]
</div>
