/*  #333333 - Grey, dark  #999999 - Grey  #d5d5d5 - Grey, light  #D3120F - Red  #f74b23 - Orange  #f3f129 - Yellow  #75d42f - Green  #86853a - Green, dark  #29cff3 - Cyan  #362fd4 - Blue  #336699 - Blue, dark  #b32fd4 - Purple*/
.section-wutz h1, .section-wutz h1 a {
	color: #D3120F;
}
.section-bibliography h1 {
	color: #f3f129;
}
.section-code h1 {
	color: #29cff3;
}
.section-colophon h1 {
	color: #999999;
}
.section-links h1 {
	color: #75d42f;
}
.section-notes h1 {
	color: #f74b23;
}
.section-tags h1 {
	color: #b32fd4;
}
.section-topics h1 {
	color: #86853a;
}
h1 .version {
	color: #d5d5d5;
	margin-left: 5px;
}
.vimeo-player, .dailymotion-player {
	background-color: #000;
}
#content p.version {
	background-color: #e7e7e7;
}
img[height$="8"] {
	border: 1px solid #999;
}