#container {
  position:relative;
}

#code {
  filter:alpha(opacity=85);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  z-index:100;
  position:absolute;
  top:0;
  margin-top:190px;
  background-color:#eeeeee;
  width:940px;
  height:auto;
  color:#757575;
  line-height:20px!important;
  border-bottom:1px dashed #ccc;
}

#code .path {
  background-color:#ffffff;
}

#source {
  margin-top:-20px;
}

#explorer {
  margin-top:-20px;
}

#explorer .path {
  display:block;
  width:380px;
}

#track {
  height:500px;
  color:#666;
  overflow:hidden;
}

pre.syntax {}

.github-link {}

/* Overrides */
.syntax-container {
  padding:0!important;
  margin-left: -50px!important;
}

.syntax-container .toolbar {
  display: none!important;
}

ol.syntax li div.source {
  border-left:0!important;
}

ol.syntax {
  background-color:#ffffff!important;
  border:0!important;
}
/************/

#tool_code {
  background:none;
  padding:0;
  color:#c0c0c0;
  margin-left:0;
}

#tool_code:before {
  padding-right:2px;
  color:#c0c0c0;
	content: "{";
}

#tool_code:after {
  padding-left:2px;
  color:#c0c0c0;
	content: "}";
}

#tool_code.on, 
#tool_code.on:before,
#tool_code.on:after {
  color:#666;
}

#tool_code:hover, 
#tool_code.on:hover, 
#tool_code:before:hover, 
#tool_code:after:hover,
#tool_code.on:before:hover, 
#tool_code.on:after:hover  {
  color:#00c;
}

/*Syntax*/
.syntax {
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5em; }
  .syntax .function {
    color: #362fd4!important; }
  .syntax .keyword {
    color: #f74b23!important; }
  .syntax .access {
    color: #75d42f!important;
    font-weight: bold; }
  .syntax .type {
    color: #86853a!important;
    font-weight: bold; }
  .syntax .comment {
    color: #999999!important;
    font-style: italic; }
  .syntax .string, .syntax .constant {
    color: #f74b23!important; }
  .syntax .string .escape {
    color: #362fd4!important; }
  .syntax .operator {
    color: #f74b23!important; }
  .syntax .href {
    color: inherit!important;
    border-bottom: 1px dotted #336699; }
  .syntax .variable {
    color: #336699!important; }
  .syntax pre {
    overflow: auto;
    font-family: inherit; }