.wutz h1 a {
    color:#D61D00;
    font-size:36px;
    height:36px;
    width:504px;
    }
    
/* anagramometer **************************************************************/
#total_change {
display:block;
height:40px;
overflow:hidden;
margin-bottom:1px;
}

#total {
color:#999999;
display:inline-block;
font-family:"DejaVuSansCondensed",Tahoma,Arial,sans-serif;
font-size:39px;
line-height:39px;
overflow:hidden;
width:120px;
letter-spacing:-3px;
}

#change {
  color: #999999;
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 18px;
  width: 20px;
}

#alert {
display:block;
height:40px;
}

#anagramometer .tables {
  background-color:#eef;
  margin-bottom:10px;
}

#anagramometer table {
  text-align:right;
  float:left;
  width:30%;
  }

#anagramometer table.middle {
margin:0 7px;
}

#anagramometer tr {
background-color:#ddeeee;
border-bottom:1px solid #fff;
}

#anagramometer tr.even {
background-color:#cceeee;
}

#anagramometer td, #anagramometer th {
    font-weight:normal;
    font-size:9px;
    padding:2px 1px 1px 1px;
    padding-right:2px;
    height:17px;
    line-height:16px;
}

#anagramometer th {
    text-align:center;
    text-transform:uppercase;
    }
#toolbar a  {
  font-weight:normal;
}

/* version info */
#version_info {
/*display:none;*/
position:relative;
/*padding:0 0 10px 0;*/
height:40px;
}
#version_info_panel p {
color:#666666;
}
#versions_nav {
position:absolute;
top:0;
right:0;
margin-top:7px;
}
#version_info li {
margin:0 0 0 2px;
}
#version_info a.button {
display:inline-block;
width:4px;
height:7px;
background-position:-10px -100px;
text-indent:-9999px;
padding-left:3px;
}
#version_info a.disabled {
cursor:default;
}
a#version_previous.button {
background-position:-13px -243px;
}
a#version_previous.button:hover {
background-position:-13px -263px;
}
a#version_previous.disabled, a#version_previous.disabled:hover {
background-position:-13px -253px;
}

a#version_next.button {
background-position:-13px -203px;
}
a#version_next.button:hover {
background-position:-13px -223px;
}
a#version_next.disabled, a#version_next.disabled:hover {
background-position:-13px -213px;
}

a#version_latest.button {
width:7px;
background-position:-13px -283px;
}
a#version_latest.button:hover {
background-position:-13px -303px;
}
a#version_latest.disabled, a#version_latest.disabled:hover {
background-position:-13px -293px;
}
/* ends - epigraph ************************************************************/
.ends_section {
margin-top:60px;
}
.ends_epigraph div, .ends_epigraph p, .ends_epigraph blockquote, .ends_epigraph q {
text-align:center;
color:#333!important;
}
/* tarot **********************************************************************/

#buttons {
margin-right:50px;
display:block;
height:20px;
overflow:hidden;
}

/* interlinear *****************************************************************/

.interlinear .extra_out {
    text-align:left;
    left:0;
    top:10px;
  }
.interlinear #content p {
    line-height:50px;
  }
.interlinear .target {
    top:0;
    left:0;
    position:absolute;
    width:460px;
    margin-left:80px;
    padding-top:20px;
  }
.interlinear .source {
    width:460px;
    margin-left:80px;
  }
.interlinear .source p {
    color:#660000;
}
.interlinear #scholia {
  position:absolute;
  top:0;
  left:160px;
}
.interlinear .ends_epigraph {
    padding-left:80px;
  }
.interlinear .ends_section,.interlinear .ends {
    padding-left:240px;
  }
.interlinear #toolbar_top {
  margin-left:-160px;
  }
.interlinear #nav_end_container {
  position:relative;
  height:54px;
}
.interlinear #nav_end_page {
  position:absolute;
  top:-50px;
  left:-70px;
}
.interlinear #content {
  margin-top:-10px;
  margin-bottom:10px;
}  
  