footer {
	border-top: 1px dashed #999;
	margin-top: 20px;
	color: #666;
	padding-top: 10px;
}
footer a {
	color: #666;
	background-position: -231px 2px;
}
footer a:hover {
	background-position: -451px -18px;
	color: #00c;
}
footer ul {
	margin-top: 10px;
	width: 100%;
}
#copyright li {
	float: left
}
footer a[href^="http"] {
  background-position: -504px -445px;
  padding-left: 13px;
}
footer a[href^="http"]:hover {
	background-position: -504px -425px;
}
.cc, .cc a {
	width: 85px;
	height: 25px;
	padding: 0;
}
.cc a {
	text-indent: -9999px;
	background-position: 0 -380px!important;
	display: block;
}
#institutional {
	text-align: right;
}