.section-home h1 {
  display:none;
}

.wall li {
  display:inline-block;
  float:left;
  margin-right:20px;
}

.wall li a{
  display:inline-block;
}

.wall li.omega {
  margin-right:0;
}

.section-home .vimeo-player {
 width:460px;
 /*height:360px;*/
 height:355px;
}
