.notes-list h6 {
  font-weight:normal;
}
.notes-list h6:after {
  content: ": ";
}
iframe[src*="vimeo"],iframe[src*="youtube"],.notes embed,.notes object {
  background-color:#000;
}
.notes embed {
  background-color:#000;
  clear:both;
}
.notes-list p.first {
  display:inline;
}
.notes-list img, .notes-list embed, .notes-list iframe, .notes-list video {
  display:block;
}
#versions {
  line-height:20px;
  margin:10px 0;
}
#map {
  background-color:#EBE6DC;
}
.geo {
  display:none;
}
p.caption {
  font-size:11px!important;
  color:#666;
  margin-top:-5px;
}

blockquote {
  text-indent:0;
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#666;
  padding:0 0 10px 19px;
  border-left:1px dotted #d5d5d5;
  margin-bottom:10px;
  /*font-style:italic;*/
}
.caption, .attribution {
  text-indent:0;
  color:#666;
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  display:block;
  font-size:8px;
}
.caption {
  text-indent:0;
}
.details {
  text-indent:0;
  font-size:11px;
}

.notes-list .book, .notes-list .link, .notes-list .topic, .notes-list .more {
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
.notes-list .more {
  color:#999999;
  font-size:11px;
}
.notes-list .author {
  font-weight:bold;
  color:#447799;
  /* Deviates from palette to soften the bold */
}
.notes-list a:hover .author {
  color:#362fd4;
}
.section-topics #content .notes-list li,
.section-links #content .notes-list li,
.section-bibliography #content .notes-list li {
  margin-bottom:0;
}
#content .apparatus .notes-list > li {
  margin-bottom: 20px;
  font-size: 13px;
  font-family: Georgia,Palatino,"Palatino Linotype",serif;
}
.notes-list .meta {
  font-family:Tahoma, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
}
.notes-list .meta li {
  margin-bottom:0;
}
.section-links .thumbnail {
  width:218px;
  border:1px solid #ccc;
  clip:rect(0,220px,400px,0);
  overflow:hidden;
  position:absolute;
}