.section_notes h1 {
  color:#336633;
}
    
h1 .version {
  left:515px;
  display:none;
}
    
.notes-list h6 {
  font-weight:normal;
}
.notes-list h6:after {
  content: ": ";
}
iframe[src*=vimeo],iframe[src*=youtube],#notes embed,#notes object {
  background-color:#000;
}
#notes embed {
  background-color:#000;
  clear:both;
}
.notes-list p.first {
  display:inline;
}
.notes-list img, .notes-list embed, .notes-list iframe, .notes-list video {
  display:block;
}
#versions {
  line-height:20px;
  margin:10px 0;
}
#map {
  background-color:ccc;
}
.geo {
  display:none;
}
p.caption {
  font-size:11px!important;
  color:#666;
  margin-top:-5px;
  margin-bottom:10px;
}

blockquote {
text-indent:0;
font-family:Arial,sans-serif;
}
blockquote:before {
  content: "“";
}
blockquote:after {
  content: "”";
}
.caption, .attribution {
text-indent:0;
color:#666;
font-family:Arial,sans-serif;
display:block;
font-size:8px;
}
.caption {
text-indent:0;
}
.details {
text-indent:0;
font-size:8px;
}
