.rss {
  position:relative;
}
.rss li {
  margin-bottom:10px;
}
.rss p {
  font-size:12px;
}
.rss a {
  background:none!important;
  padding-left:0!important;
}
.rss .details {
  font-size:11px;
}
.rss a.feed {
  background-image: url("/_etc/images/sprite-v14.png") !important;
  background-position: -116px -362px !important;
  display: block;
  height: 10px;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 5px;
  width: 10px;
}