#share li {
  margin-bottom:-3px;
}

h4 .soften {
  font-weight:normal;
  padding:0 2px;
}

.addthis_bubble_style {
  background:none!important;
}
.addthis_button_expanded {
  font-weight:normal;
}
.addthis_button_expanded:after {
  content:")";
}
.addthis_button_expanded:before{
  content:"(";
}

.addthis_counter.addthis_bubble_style {
  display: inline-block;
  line-height:20px;
  width:11px!important;
  margin:0 3px 0 0;
}

.addthis_counter a.addthis_button_expanded {
  cursor: default;
  margin-left: 4px;
  display: inline;
}
